@charset "utf-8";

/* 상단 */
header {
  width: 100%;
  background-color: #82bc38;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 상단 로고 */
.header-logo {
  width: 15%;
  max-width: 140px;
  min-width: 130px;
  /* background-color: aqua; */
  height: 100%;
  text-align: center;
}

/* 상단 로고 이미지 */
.header-logo img {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.header-bg {
  width: 100%;
  height: 0px;
  background-color: #1e73be;
  position: absolute;
  top: 70px;
  left: 0;
  overflow: hidden;
  z-index: 5;
}

/* 상단 메뉴 */
nav {
  width: 60%;
  position: relative;
}

/* 상단 메뉴 큰 카테고리 */
.menu-list {
  width: 100%;
  position: relative;
  display: flex;
  height: 70px;
}

.menu-list > li {
  width: calc(100% / 4);
  text-align: center;
}

.menu-list > li > a {
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.menu-list > li:hover > a {
  color: #ffd700;
}

.menu-list > li a:last-child:hover ~ .header-bg {
  display: none !important;
}

.menu-list2 {
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  gap: 50px;
  width: 100%;
  line-height: 70px;
  transition: all 0.2s;
}

.menu-list2 > li > a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.menu-list2 > li > a:hover {
  color: #ffd700;
}

/* 큰 카테고리 호버했을 때 */
.menu-list > li:hover .menu-list2 {
  display: flex;
}

/* plan list */
.menu-list3 {
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 180px;
  display: none;
  gap: 5px;
  width: 100%;
  line-height: 70px;
}

.menu-list3 > li {
  padding-left: 10%;
}

.menu-list3 > li > a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.menu-list3 > li > a:hover {
  color: #ffd700;
}

/* 큰 카테고리 호버했을 때 */
.menu-list > li:hover .menu-list3 {
  display: flex;
}

/* contact list */
.menu-list4 {
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 200px;
  display: none;
  width: 100%;
  line-height: 70px;
}

.menu-list4 > li {
  padding-left: 10%;
}

.menu-list4 > li > a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.menu-list4 > li > a:hover {
  color: #ffd700;
}

/* 큰 카테고리 호버했을 때 */
.menu-list > li:hover .menu-list4 {
  display: flex;
}

/* search box */
.search-box {
  display: none;
  position: absolute;
  top: 80px;
  left: 70px;
  width: 80%;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 15;
}

/* Search 메뉴에 마우스 올릴 떄 검색창 표시 */
.menu-list > li:last-child:hover .search-box {
  display: block;
}

.search-box {
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-left: 3%;
}

.fa-magnifying-glass {
  font-size: 21px;
}

.fa-xmark {
  font-size: 21px;
}

.search-box input {
  width: 80%;
  padding-top: 1%;
  font-size: 15px;
}

/* header lang */
.kr-us {
  display: none;
  position: absolute;
  right: 300px;
  top: 5px;
  padding: 10px;
  min-width: 100px;
  gap: 10px;
}

.kr {
  display: flex;
  align-items: center;
  width: 70px;
  height: 40px;
  background-color: #006ba8;
  margin-bottom: 8px;
  border-radius: 10px;
}

.kr span {
  color: #fff;
  font-weight: 500;
  padding-left: 20%;
  padding-top: 5%;
}

.us {
  display: flex;
  align-items: center;
  width: 70px;
  height: 40px;
  background-color: #111111;
  margin-bottom: 8px;
  border-radius: 10px;
}

.us span {
  color: #fff;
  font-weight: 500;
  padding-left: 25%;
  padding-top: 5%;
}

/* header icon */
.header-icon {
  display: flex;
  gap: 50px;
  padding-right: 5%;
}

.header-icon a {
  display: flex;
  width: 30px;
  height: 30px;
}

/* .language-icon:hover .kr-us{
  display: flex;
} */

.header-icon a img {
  width: 100%;
}

/* 햄버거 버튼 */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.fa-bars {
  color: #000;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: #82bc38;
  color: #111111;
  padding: 20px;
  z-index: 9999999;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
}

.nv {
  padding-left: 2%;
}

.nv > ul > li > a {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.m-only {
  padding-left: 2%;
  padding-top: 5%;
}

.m-only > ul > li > a {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.mobile-menu.show {
  display: block;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    /* background-color: #fff; */
    height: 70px;
    padding-left: 3%;
  }

  /* 전부 숨김 */
  nav,
  .kr-us,
  .header-bg {
    display: none !important;
  }

  .header-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
  }

  /* 아이콘 전부 숨겼다가 */
  .header-icon a {
    display: none !important;
  }

  .header-icon > a[href*="login"],
  .header-icon > a[href*="cart"] {
    display: flex !important;
  }

  .header-icon {
    gap: 50px;
  }

  .header-icon a img {
    width: 30px;
    height: 30px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-bottom: 1%;
  }

  .hamburger a {
    font-size: 30px;
    font-weight: 600;
  }
}
