@charset "utf-8";

/* 메인 이미지 */
.main-img{
    max-width: 1760px;
    margin-top: 4%;
    margin-left: 80px;
    /* background-color: aquamarine; */
}

/* 메인 이미지 width */
.main-img img{
    width: 100%;
}