@charset "utf-8";

@import url("header.css");
@import url("main.css");

.legal-wrap {
  position: relative;
  top: 0;
  left: 100px;
  display: flex;
  gap: 3%;
  justify-content: center;
  text-align: center;
  max-width: 1650px;
  min-width: 100vh;
  padding: 90px;
}

.btn-wrap1 {
  background-color: #006ba8;
  border: #006ba8;
}

.btn-wrap2 {
  background-color: #111111;
  border: #111111;
}

.btn-wrap1,
.btn-wrap2 {
  width: 144px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.legal-txt {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  max-width: 100%;
  text-align: left;
  column-count: 3;
  column-gap: 30px;
}
